@import url('../style.css');
@import url('../../plugins/fullcalendar/fullcalendar.min.css');

#external-events .fc-event {
    margin: 10px 0;
}

#external-events i {
    font-size: 18px;
    color: white;
    margin-top: 0px;
}
#external-events a{
    color: #ffffff;
}
#calendar {
    width: 100%;
}

.fc-event {
    font-size: 1em;
    border-radius: 2px;
    border: none;
    padding: 5px;
}
.fc-event a{
    color:white;
}
.fc-day-grid-event .fc-content {
    color: #fff;
}

.fc-button {
    background: #eaeaea;
    border: none;
    color: #666b6f;
    margin: 0 3px !important;
    padding: 5px 12px !important;
    text-transform: capitalize;
    height: auto !important;
    box-shadow: none !important;
    border-radius: 3px !important;
}

.fc-state-down, .fc-state-active, .fc-state-disabled {
    background-color: #009ffc !important;
    color: #ffffff !important;
    text-shadow: none !important;
}

.fc-toolbar h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
}

.fc th.fc-widget-header {
    background: #e6e6e6;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 18px;
    padding: 10px 0px;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
    border-color: #eff1f3;
}

.daterangepicker.dropdown-menu{
    z-index:1151 !important;
}

#calendar-event .modal-dialog{
    max-width: 900px;
}
#calendar-event label{
    line-height: 30px;
}
.vertical-line{
    border-right: 1px solid #dddddd;
}
.m-t-10{
    margin-top:10px;
}
.p-l-5{
    padding-left: 5px;
}
.more_width{
    max-width: 400px !important;
}
.event-options ul.options {
    float: right;
}

ul.options {
    list-style: none;
    color: #333333;
    text-align: right;
    overflow: hidden;
    padding: 0;
    margin-bottom: 3px;
}
ul.options li {
    float: left;
    text-align: left;
    color: #999999;
    font-size: 11px;
}

ul.options li {
    display: inline;
    margin-right: 8px;
}
ul.options li > a {
    font-size: 13px;
}
