@import url('../style.css');



.mg-top{
    margin-top: 5px;
}
.quetions{
    margin-top: 1px;
    font-size: 20px;
    margin-right: -60px;
}

.mg-left-19{
    margin-left: -19px;
}

.p-b-10{
    padding-bottom: 10px;
}

.mg-top-7{
    margin-top: 7px;
    padding-right: 40px;
    margin-right: -50px;
}

.mg-top-7{
    margin-top: 7px;
}

.close-icon-windows {
    font-size: 20px!important;
    color: red;
}
.document-description{
    display: block;
    font-weight: bold;
    color: #cccccc;
}

#docs_clients .modal-dialog {
    max-width: 720px;
}

.not-docs-color{
    color: #afadad;
}

#clients_preview .modal-dialog{
    max-width: 720px;
}

.solid-black {
    border-right: 1px solid #e9ecef;
}

#clients_preview .modal-body{
    background-color: white;
}

.mg-r-0{
    margin-right: 0px;
}

#import_clientes .modal-dialog {
    max-width: 720px;
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

.p-t-15{
    padding-bottom: 15px;
}

.mg-r-10{
    margin-right: 10px;
}

.legend {
    display: flex;
    flex-wrap: wrap;
}

.legend i {
    float: left;
    min-height: 50px;
    font-size: 2.5rem;
    opacity: .5;
    vertical-align: middle;
    margin-right: 10px;
}


/*--------------------------------Media QUERY---------------------------------------------*/

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/*@media (min-width: 1281px) {*/

/*//CSS*/

/*}*/

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

/*@media (min-width: 1025px) and (max-width: 1280px) {*/

/*//CSS*/

/*}*/

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

/*@media (min-width: 768px) and (max-width: 1024px) {*/

/*//CSS*/

/*}*/

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/*@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {*/

/*//CSS*/

/*}*/

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

/*@media (min-width: 481px) and (max-width: 767px) {*/

/*//CSS*/

/*}*/

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .jFiler-input-dragDrop {
        width: auto;
    }
}