@import url('../style.css');



.mg-top{
    margin-top: 5px;
}
.quetions{
    margin-top: 1px;
    font-size: 20px;
    margin-right: -60px;
}

.mg-left-19{
    margin-left: -19px;
}

.p-b-10{
    padding-bottom: 10px;
}

.mg-top-7{
    margin-top: 7px;
    padding-right: 40px;
    margin-right: -50px;
}

.mg-top-7{
    margin-top: 7px;
}

.border-card{
    border: #d8d6d7 solid 1px!important;
}

.solid-black {
    border-right: 1px solid #e9ecef;
}

/*.hover-card:hover{*/
    /*color: darkgray;*/
    /*cursor: pointer;*/
/*}*/

.p-t-10-color{
    padding: 10px;
    color: white;
}
.p-t-10-text{
    padding: 10px;
    text-align: center;
}

#compulsive_payments_view .modal-dialog {
    max-width: 720px;
}

/**
Btton item
 */
.mg-8{
    margin: 8px;
}

.custom-modal .close {
    color: #e2b3b3;
    text-shadow: 0;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
    color: #ea6868;
}

/**
Datetime
 */
.daterangepicker.dropdown-menu {
    z-index: 9999;
}

.document-description {
    display: block;
    font-weight: bold;
    color: #cccccc;
}

#preview_compulsive .modal-dialog{
    max-width: 920px;
}

#preview_compulsive .modal-body {
    background-color: white;
}

.p-t-6 {
    padding-top: 6px;
}