@import url('../style.css');

.modal-dialog{
    max-width: 750px
}

#modal_user .jFiler-theme-default .jFiler-input {
    width: 350px;
}

.solid-black {
    border-right: 1px solid #e9ecef;
}

.card-img {
    border: 2px dashed #ccc;
    /*padding: 10px 30px 10px 30px;*/
    font-size: 70px;
    color: #ccc;
    text-align: center;
}

