@import url('../style.css');



.mg-top{
    margin-top: 5px;
}
.quetions{
    margin-top: 1px;
    font-size: 20px;
    margin-right: -60px;
}

.mg-left-19{
    margin-left: -19px;
}

.p-b-10{
    padding-bottom: 10px;
}

.mg-top-7{
    margin-top: 7px;
    padding-right: 40px;
    margin-right: -50px;
}

.mg-top-7{
    margin-top: 7px;
}

.close-icon-windows{
    font-size: 20px!important;
    color: red;
}

.last_row td{
    border-bottom: 0px !important;
}

.mg-8{
    margin: 8px;
}

.card-border{
    border: 1px #dee2e6 solid!important;
}

.curson-pointer{
    cursor: pointer;
}

.mg-t-27{
    margin-top: 27px;
}

#loand_preview .modal-dialog{
    max-width: 920px;
}

.close {
    color: #e2b3b3;
    text-shadow: 0;
}

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
    color: #ea6868;
}

/*------------------------Print-------------------------------*/
.print-options > ul {
    padding: 0;
    list-style: none;
}

.print-options ul > li {
    line-height: 45px;
}

.mg-l-80{
    margin-left: 80px;
}

.h-g-10{
    height: 10px;
}

.mg-top-2{
    margin-top: 2px;
}

@media print {
    @page {
        margin: 0;
        margin-top: 20px;
    }
}

.mail-f-s-20{
    font-size: 20px;
}

#sent_mail .modal-dialog{
    max-width: 1080px;
}

.color-mail{
    color: #a7a4a4;
}

.solid-black {
    border-right: 1px solid #e9ecef;
}

#loand_preview .modal-body{
    background-color: white;
}

.p-t-6{
    padding-top: 6px;
}

.card-img {
    border: 2px dashed #ccc;
    /* padding: 10px 30px 10px 30px; */
    font-size: 70px;
    color: #ccc;
    text-align: center;
}

/*--------------------------------Media QUERY---------------------------------------------*/

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

/*@media (min-width: 1281px) {*/

/*//CSS*/

/*}*/

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

/*@media (min-width: 1025px) and (max-width: 1280px) {*/

/*//CSS*/

/*}*/

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

/*@media (min-width: 768px) and (max-width: 1024px) {*/

/*//CSS*/

/*}*/

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/*@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {*/

/*//CSS*/

/*}*/

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

/*@media (min-width: 481px) and (max-width: 767px) {*/

/*//CSS*/

/*}*/

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

#print_content{
    margin-left: 0px;
}

}

